html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.feedBack
{
  color: rgb(255, 0, 200);
}

.lostSty
{
  color: rgb(152, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}